<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Site</title>
    </head>
    <body>
        {{> header}}

        <p>Projects Here!!</p>

        {{> footer}}
    </body>
</html>
